/* @import url("../reveal.js/lib/css/zenburn.css"); */

body {
  background-color: #3f3f3f;    /* zenburn background color */
}

b {
  color: #DFAF8F;
}

.reveal .slides {
  text-align: left;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform: none;
  text-align: center
}

.reveal pre {
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
  font-size: 0.6em;
}

.reveal pre > em {
  color: #DFAF8F;
  font-style: normal;
}

.reveal section img {
  border: 0;
  margin-bottom: 0;
}

